albumentations==1.4.2
asgiref==3.8.1
beautifulsoup4==4.13.4
build==1.2.2.post1
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
contourpy==1.3.2
cycler==0.12.1
dataclasses==0.6
Django==3.1.12
django-cors-headers==3.5.0
djongo==1.3.7
dnspython==2.7.0
einops==0.2.0
facenet-pytorch==2.5.3
filelock==3.18.0
fonttools==4.57.0
fsspec==2025.3.2
gdown==4.4.0
idna==3.10
imageio==2.37.0
imgaug==0.4.0
Jinja2==3.1.6
joblib==1.4.2
kiwisolver==1.4.8
lazy_loader==0.4
lmdb==1.6.2
MarkupSafe==3.0.2
matplotlib==3.10.1
mpmath==1.3.0
networkx==3.4.2
numpy==2.1.1
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
packaging==24.2
pandas==2.2.3
pillow==10.2.0
pip-tools==7.4.1
prefetch-generator==1.0.1
psutil==7.0.0
py-cpuinfo==9.0.0
pymongo==3.11.4
pyparsing==3.2.3
pyproject_hooks==1.2.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
qrdet==2.5
quadrilateral-fitter==1.12
requests==2.32.3
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
shapely==2.1.0
six==1.17.0
soupsieve==2.6
sqlparse==0.2.4
sympy==1.13.1
threadpoolctl==3.6.0
tifffile==2025.3.30
tomli==2.2.1
torch==2.6.0
torchvision==0.21.0
tqdm==4.67.1
typing_extensions==4.13.2
tzdata==2025.2
ultralytics==8.3.109
ultralytics-thop==2.0.14
urllib3==2.4.0
vietocr==0.3.13